<div class="min-h-screen bg-[#f8f8f8] p-6 font-sans">

  <!-- Header -->
  <div class="flex justify-between items-center">
    <div class="flex flex-col gap-1">
      <h3 class="font-semibold text-lg">Vehicle Management</h3>
      <p class="text-xs text-gray-500">Manage your vehicle here.</p>
    </div>

    <p-button label="Add Vehicle" icon="pi pi-plus" size="small"
      (onClick)="openCreateModal()" severity="contrast"></p-button>
  </div>

  <!-- Filters -->
  <div class="mt-4">
    <p-card>
      <p class="text-sm font-semibold">All Vehicles</p>
      <p-divider />

      <div class="flex flex-wrap gap-3 items-end">

        <p-floatlabel variant="on">
          <input pInputText id="registrationNumber" [(ngModel)]="filter.registrationNumber" />
          <label for="registrationNumber">Registration Number</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <input pInputText id="brand" [(ngModel)]="filter.brand" />
          <label for="brand">Brand</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <input pInputText id="model" [(ngModel)]="filter.model" />
          <label for="model">Model</label>
        </p-floatlabel>

        <p-select class="w-56"
          [options]="vehicleTypes"
          [(ngModel)]="filter.vehicleType"
          optionLabel="name" optionValue="code"
          [showClear]="true"
          placeholder="Select Type">
        </p-select>

        <p-button label="Search" icon="pi pi-search" size="small"
          (onClick)="applyFilters()" severity="contrast"></p-button>

        <p-button label="Clear" icon="pi pi-times" size="small"
          (onClick)="clearFilters()" severity="secondary"></p-button>

      </div>
    </p-card>
  </div>

  <!-- Loading -->
  <div *ngIf="loading" class="flex justify-center items-center py-20">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <!-- Cards Grid -->
  @if (!loading && vehiclesPage) {
  <div class="flex flex-wrap gap-4 mt-6">

    @for (vehicle of vehiclesPage.content; track $index) {
    <p-card [style]="{ width: '20rem', overflow: 'hidden' }">

     
      <ng-template #header>
        <div class="relative bg-gradient-to-r from-blue-500 to-blue-600 h-32 flex items-center justify-center">
          <i class="pi pi-car text-white text-6xl"></i>

         <p-button (onClick)="openVehicleImageUploadModal(vehicle)" class="absolute bottom-2 right-2" icon="pi pi-upload" size="small" label="Upload"  severity="contrast" />
          
        </div>
      </ng-template>

      <div class="flex justify-between items-center mb-2">
        <p class="font-semibold">{{ vehicle.registrationNumber }}</p>
        <p-badge [value]="getVehicleTypeLabel(vehicle.vehicleType)"
          severity="contrast"></p-badge>
      </div>

      <p-divider />

      <div class="flex flex-col gap-2 text-xs">

        <div class="flex justify-between">
          <span class="text-gray-500 font-semibold">Brand</span>
          <span class="font-bold">{{ vehicle.brand }}</span>
        </div>

        <div class="flex justify-between">
          <span class="text-gray-500 font-semibold">Model</span>
          <span class="font-bold">{{ vehicle.model }}</span>
        </div>

        <div class="flex justify-between">
          <span class="text-gray-500 font-semibold">Owner</span>
          <span class="font-bold">
            {{ vehicle.owner?.name || 'Unassigned' }}
          </span>
        </div>

      </div>

      <ng-template #footer>
        <div class="flex justify-end gap-2">
          <p-button icon="pi pi-pencil" size="small" label="Edit" variant="outlined" (onClick)="openEditModal(vehicle)"
            severity="secondary"></p-button>
          <p-button icon="pi pi-trash" size="small" label="Delete" (onClick)="openDeleteModal(vehicle.id)"
            severity="danger"></p-button>
        </div>
      </ng-template>

    </p-card>
    }

    <!-- Pagination -->
    <div class="w-full">
      <p-paginator [first]="page * pageSize" [rows]="pageSize"
        [totalRecords]="vehiclesPage.totalElements"
        (onPageChange)="onPageChange($event)">
      </p-paginator>
    </div>

  </div>
  }

  <!-- Empty State -->
  @if (!loading && vehiclesPage?.content?.length === 0) {
  <p-card class="text-center py-20">
    <h3 class="text-xl font-bold mb-1">No vehicles found</h3>
    <p class="text-gray-500 mb-4">Add your first vehicle to the system.</p>
    <p-button label="Add Vehicle" icon="pi pi-plus" severity="contrast"
      (onClick)="openCreateModal()"></p-button>
  </p-card>
  }

</div>

<!-- Vehicle Modal -->
<p-dialog
  [(visible)]="showVehicleModal"
  [modal]="true"
  [style]="{ width: '32rem' }"
  [draggable]="false"
  header="{{ isEditMode ? 'Edit Vehicle' : 'Add Vehicle' }}"
[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [baseZIndex]="10000"
  contentStyleClass="px-2"
>

  <div class="flex flex-col gap-5 mt-2">

    <p-floatlabel variant="on">
      <input 
        pInputText 
        id="regNo2" 
        [(ngModel)]="vehicleForm.registrationNumber"
        class="w-full"
      />
      <label for="regNo2">Registration Number</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input 
        pInputText 
        id="brand2" 
        [(ngModel)]="vehicleForm.brand"
        class="w-full"
      />
      <label for="brand2">Brand</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input 
        pInputText 
        id="model2" 
        [(ngModel)]="vehicleForm.model"
        class="w-full"
      />
      <label for="model2">Model</label>
    </p-floatlabel>

   <p-select
  [options]="vehicleTypes"
  [(ngModel)]="vehicleForm.vehicleType"
  optionLabel="name"
  optionValue="code"
  placeholder="Select Type"
  class="w-full"
  styleClass="w-full"
  appendTo="body"
></p-select>

  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 w-full mt-4">

      <p-button 
        label="Cancel" 
        (click)="closeVehicleModal()" 
        severity="secondary"
        [text]="true"
        class="px-4"
      ></p-button>

      <p-button 
        [label]="isEditMode ? 'Update' : 'Create'" 
        (click)="saveVehicle()" 
        severity="contrast"
        class="px-4"
      ></p-button>

    </div>
  </ng-template>

</p-dialog>

<!-- Vehicle Image Uplaod Modal -->
<p-dialog
  [(visible)]="showImageUploadModal"
  [modal]="true"
  [style]="{ width: '32rem' }"
  [draggable]="false"
  header="Upload Image"
[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [baseZIndex]="10000"
  contentStyleClass="px-2"
>

  <div class="flex flex-col gap-5 mt-2">

<p-fileUpload
  #fu
    mode="advanced"
    [customUpload]="true"
(uploadHandler)="onUpload($event)"
    accept="image/*"
    maxFileSize="1000000"
    chooseLabel="Choose Image"
></p-fileUpload>


  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 w-full mt-4">

      <p-button 
        label="Cancel" 
        (click)="closeVehicleImageUploadModal()" 
        severity="secondary"
        [text]="true"
        class="px-4"
      ></p-button>

    <p-button label="Upload" (onClick)="fu.upload()" severity="contrast" />

    </div>
  </ng-template>

</p-dialog>


<!-- Delete Confirmation -->
<p-dialog [(visible)]="showDeleteModal" header="Confirm Delete" [modal]="true"
  [style]="{ width: '22rem' }">

  <p class="mt-4 mb-3">Are you sure you want to delete this vehicle?</p>

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary"
      (click)="closeDeleteModal()"></p-button>
    <p-button label="Delete" severity="danger"
      (click)="confirmDelete()"></p-button>
  </ng-template>

</p-dialog>
