<!-- Overlay (mobile) -->
<div
  *ngIf="mobileOpen"
  class="fixed inset-0 bg-black/40 z-40 lg:hidden"
  (click)="closeOnMobile()"
></div>

<!-- Sidebar -->
<aside
  class=" fixed overflow-y-scroll custom-scroll z-100 h-screen w-64
         bg-[#020617] text-white
         top-0 left-0 lg:static
         lg:translate-x-0
         transition-transform duration-300"
  [class.-translate-x-full]="!mobileOpen"
>

  <!-- Header -->
  <div class="flex items-center justify-between px-4 py-6 border-b border-white">
    <span class="text-xl font-bold">Homely</span>
    <button class="lg:hidden" (click)="closeOnMobile()">
      <fa-icon [icon]="closeIcon"></fa-icon>
    </button>
  </div>

  <!-- Navigation -->
  <nav class="flex-1 overflow-y-auto px-2 py-4 custom-scroll space-y-1">

    @for (item of menuItems; track $index) {

      @if (item.children) {
        <div
          class="flex items-center gap-4 px-4 py-3 rounded-md cursor-pointer
                 hover:bg-[#161A29]"
          (click)="toggleMenu()"
        >
          <fa-icon [icon]="item.icon"></fa-icon>
          <span>{{ item.label }}</span>
        </div>

        <div *ngIf="showMenu" class="ml-6 space-y-1">
          @for (child of item.children; track $index) {
            <a
              [routerLink]="child.route"
              routerLinkActive="bg-white text-black hover:bg-white"
              [routerLinkActiveOptions]="{exact:
true}"
              (click)="closeOnMobile()"
              class="block px-4 py-2 rounded hover:bg-[#161A29]"
            >
              {{ child.label }}
            </a>
          }
        </div>
      }

      @else {
        <a
          [routerLink]="item.route"
            routerLinkActive="bg-white text-black hover:bg-white"
              [routerLinkActiveOptions]="{exact:
true}"
          (click)="closeOnMobile()"
          class="flex items-center gap-4 px-4 py-3 rounded-md hover:bg-[#161A29]"
        >
          <fa-icon [icon]="item.icon"></fa-icon>
          <span>{{ item.label }}</span>
        </a>
      }
    }

    <!-- Logout -->
    @if (!isImpersonating()) {<div class="border-t border-white pt-4 mt-6">
      <button
        (click)="logout()"
        class="w-full flex items-center gap-4 px-4 py-3 rounded-md
               hover:bg-white hover:text-black transition"
      >
        <fa-icon [icon]="power_off"></fa-icon>
        Logout
      </button>
    </div>}
    @else {
      <div class="border-t border-white pt-4 mt-6">
      <button
        (click)="endImpersonation()"
        class="w-full flex items-center gap-4 px-4 py-3 rounded-md
               hover:bg-white hover:text-black transition"
      >
        <fa-icon [icon]="power_off"></fa-icon>
Exit Session

      </button>
    </div>
    }
  </nav>
</aside>