<app-auth-layout>

    <div class="flex flex-col text-left w-[50%] gap-3">
        
        <div class="flex flex-col">
            <p class="text-2xl font-semibold">Welcome</p>
            <p class="text-xs text-gray-500 font-black">Register to get access to your Society.</p>
        </div>
 @if (step==2) {
    <fa-icon [icon]="backBtn" class="text-md" (click)="onBack()"/>
 }
        <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)" class="flex flex-col gap-4">


            @if (step === 1) {

                 <!-- <div class="text-xs font-medium flex flex-col gap-2">
              <p>Select a role/roles to access tailored features.</p>

         <div class="flex flex-row justify-between gap-2">

            <label for="owner" class="flex flex-1 items-center justify-center gap-2 text-sm p-3  rounded-md" [class]="registerData.roles.includes('OWNER') ? 'border-orange-400 bg-orange-100 text-orange-500' : 'border-gray-300  text-black'"
            
            >

                <input class="accent-amber-600" type="radio" name = "role" value="OWNER" (click)="handleRoleClick('OWNER')"> I'm an Owner
            </label>

             <label for="tenant"
             [class]="registerData.roles.includes('TENANT')  ? 'border-orange-400 bg-orange-100 text-orange-500' : 'border-gray-300  text-black'"
             class="flex focus:border-orange-500 flex-1 items-center justify-center gap-2 text-sm p-3  rounded-md">

                <input  class="accent-amber-600" type="radio" name="role" value="Tenant" (click)="handleRoleClick('TENANT')"> I'm a Tenant
            </label>
        </div>
    </div> -->



                <div class="flex flex-col gap-1">
                <label class="text-xs text-gray-700 font-semibold">Name</label>
                <input #name="ngModel" type="text" name="name" id="name"
                    class="placeholder:text-gray-500 text-gray-800 py-2 focus:outline-0 px-2 text-sm border rounded-md border-gray-300"
                    placeholder="Name" [(ngModel)]="registerData.name" required
                    minlength="6">

                @if(name.invalid && name.touched){
                <div class="text-[10px] text-red-500">Enter Valid Name</div>

                }
            </div>

            <div class="flex flex-col gap-1">
                <label class="text-xs text-gray-700 font-semibold">Email</label>
                <input #email="ngModel" type="email" name="email" id="email"
                    class="placeholder:text-gray-500 text-gray-800 py-2 focus:outline-0 px-2 text-sm border rounded-md border-gray-300"
                    placeholder="Email" [(ngModel)]="registerData.email" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

                @if(email.invalid && email.touched){
                <div class="text-[10px] text-red-500">Enter Valid Mail</div>

                }
            </div>
             <div class="flex flex-col gap-1">
                <label class="text-xs text-gray-700 font-semibold">Phone Number</label>
                <input #phoneNumber="ngModel" type="text" name="phoneNumber" id="phoneNumber"
                    class="placeholder:text-gray-500 text-gray-800 py-2 focus:outline-0 px-2 text-sm border rounded-md border-gray-300"
                    placeholder="Phone Number" [(ngModel)]="registerData.phoneNumber" required
                    [minLength]="10" maxlength="10">

                @if(phoneNumber.invalid && phoneNumber.touched){
                <div class="text-[10px] text-red-500">Enter Valid PhoneNumber</div>

                }
            </div>
            }

            @else {
                     <div class="flex flex-col gap-1">
                <label class="text-xs text-gray-700 font-semibold">Password</label>
              <div class="flex border rounded-md border-gray-300 items-center pr-1">
                  <input #password="ngModel" [type]="showPassword ? 'text' : 'password' " id="password" name="password"
                    class="flex-1 placeholder:text-gray-500 text-gray-800 py-2 px-2 focus:outline-0 text-sm 
                    "
                    placeholder="Password" required minlength="8" maxlength="15" [(ngModel)]="registerData.password">

             @if (showPassword) {
                  <fa-icon [icon]="eyeClosedIcon" class="text-xs" (click)="togglePassword()"/>
             }
             @else{
            <fa-icon [icon]="eyeIcon" class="text-xs" (click)="togglePassword()"/>
             }
              </div>

                @if(password.invalid && password.touched){
                <div class="text-[10px] text-red-500">Enter Valid Password</div>
                }
            </div>
            
                <div class="flex flex-col gap-1">
                <label class="text-xs text-gray-700 font-semibold">Confirm Password</label>
              <div class="flex border rounded-md border-gray-300 items-center pr-1">
                  <input #cpassword="ngModel" [type]="showCPassword ? 'text' : 'password' " id="cpassword" name="cpassword"
                    class="flex-1 placeholder:text-gray-500 text-gray-800 py-2 px-2 focus:outline-0 text-sm 
                    "
                    placeholder="Password" required minlength="8" maxlength="15" [(ngModel)]="confirmPassword">

             @if (showPassword) {
                  <fa-icon [icon]="eyeClosedIcon" class="text-xs" (click)="toggleCPassword()"/>
             }
             @else{
            <fa-icon [icon]="eyeIcon" class="text-xs" (click)="toggleCPassword()"/>
             }
              </div>

                @if(cpassword.invalid && cpassword.touched){
                <div class="text-[10px] text-red-500">Enter Valid Password</div>
                }

            </div>
            }
      
            
           

                <div class="flex gap-1 justify-center transition-all duration-500">
                    <!-- Step 1 tracker -->
                    <div [class]="step === 1 ? 'w-6 bg-[#FF521B]' : 'w-1 bg-gray-600' "
                         class="h-1 rounded-full transition-all duration-500 ease-in-out"></div>
                    <!-- Step 2 tracker -->
                    <div [class]="step === 2 ? 'w-6 bg-[#FF521B]' : 'w-1 bg-gray-600' "
                         class="h-1 rounded-full transition-all duration-500 ease-in-out"></div>
                </div>

        


            @if (errorMessage!='') {
                <div class="text-[10px] text-red-500">{{errorMessage}}</div>
                
            }
         @if (step === 1) {
               <button type="button" (click)="onNextStep()" class="disabled:cursor-not-allowed disabled:opacity-50 bg-[#FF521B] text-white p-2">Next</button>
         }
         @else {
               <button [disabled]="registerForm.invalid" class="disabled:cursor-not-allowed disabled:opacity-50 bg-[#FF521B] text-white p-2">Register</button>
         }
        </form>
                <p class="text-sm">Already have an account? <span class="text-orange-500 cursor-pointer" (click)="onLoginClick()">Login</span></p>



        <div class="flex items-center gap-1 text-xs">
            <div class="w-full h-[0.5px] border-[0.1px]"></div>
            OR
               <div class="w-full h-[0.5px] border-[0.1px]"></div>

        </div>

        <button (click)="ContinueWithGoogle()" class="text-sm font-semibold text-black flex gap-1 justify-center p-1 items-center border rounded-md border-gray-300 bg-gray-50"><fa-icon [icon]="googleIcon" class="text-base"/>Continue With Google</button>
    </div>

</app-auth-layout>
